.easybank__footer {
    background-color: rgb(8, 8, 87);
    padding: $padding;
    text-align: center;
    justify-content: center;

    &__navigation1--lists {
        list-style: $list-style;
    }

    &__navigation1--listanchore {
        // color: transparent;
        text-indent: -9999px;
        display: inline-block;
        
       
    }

    &__navigation2--lists {
        list-style: $list-style;
        color: white;
    }


    &__navigation1--list {
    //    margin: $margin;
    }

    &__navigation1--lists {
        display: flex;
    }

    &__button {
         background: linear-gradient(90deg, #33D35E, rgba(0, 255, 242, 0.8));
        padding-top: $padding-top;
        padding-bottom: $padding-bottom;
        padding-left: calc(#{$padding-left} * 2);
        padding-right: calc(#{$padding-right} * 2);
        border-radius: 20px;
        border: none;
        color: white;
       
    }

   &__container {
    justify-content: center;
    text-align: center;
    display: flex;
}
}


.facebook {
   background-image: url('../images/icon-facebook.svg');
   background-repeat: no-repeat;
   padding: $padding;
}

.youtub {

    background-image: url('../images/icon-youtube.svg');
    background-repeat: no-repeat;
    padding: $padding;

}

.twitter {

    background-image: url('../images/icon-twitter.svg');
    background-repeat: no-repeat;
    padding: $padding;

}

.pinterest {
    background-image: url('../images/icon-pinterest.svg');
    background-repeat: no-repeat;
    padding: $padding;

}

.instagram {
    background-image: url('../images/icon-instagram.svg');
    background-repeat: no-repeat;
    padding: $padding;

}

.easybank__footer__indication {
    color: rgb(192, 192, 192);
}

@media (min-width: 400px) {
    .easybank__footer {
        display: flex;
    }

    .easybank__footer__navigation2--lists {
        columns: 2;
    }
}
