.easybank__navigation__list {
    list-style: $list-style;


}

.easybank__logo {
 margin-left: calc(#{$margin-left} * 4);
}

.easybank__navigation__lists--anchore {
    text-decoration: $text-decoration;
    margin: $margin;
    color: black
}

.easybank {
    position: relative
}

.easybank__button {
  display: none;
}

.bar {
    width: 20px;
    position: absolute;
    right: $right;
    top: $top;
}


.easybank-checkbox {
    position: absolute;
    top: 0;
    right: 0.35rem;
    zoom: 2;
    opacity: 0;
}


.easybank__navigation {
    background-color: #ffff;
    color: white;
    box-shadow:  1px 5px 5px  10px rgb(206, 205, 205);
    width: 200px;
    margin-inline-start: $margin-inline-start;
    padding: $padding;
    position: fixed;
    left: -200px;
}


input[type=checkbox]:checked + .easybank__navigation {
  transform: translateX(50%);
  transition: all 0.5s ease;
  left: -100px;
  z-index: 2;
  margin-inline-start: $margin-inline-start;
}

input[type=checkbox]:not(:checked) + .easybank__navigation {
  transform: translateX(-110%);
  transition: all 0.5s ease-out;
  left: -100px;
}



@media (min-width: 1000px) {
   .bar {
    display: none;
  }

  .easybank-checkbox  {
    display: none;
  }



  .easybank__navigation {
    background-color: transparent;
    color: #333333;
    width: 200px;
    margin-inline-start: $margin-inline-start;
    padding: $padding;
    display: flex;
    box-shadow: none;
    top: 0;
    margin-inline-start: 40%;
    position: relative;
  
  }

  input[type=checkbox]:checked + .edie__navigation {
    transform: translateX(50%);
    transition: none;
    left: 0;
    z-index: 2;
    margin-inline-start: $margin-inline-start;
    
  }


  .easybank__navigation__list {
    display: flex;
    margin-top: calc(#{$margin-top} * -4);
    margin-inline-start: calc(#{$margin-inline-start} * 20);
  }

  input[type=checkbox]:not(:checked) + .edie__navigation {
    transform: translateX(0%);
    transition: none;
    left: 0;
    margin-top: -75px;
  }

  .easybank__button {
    display: block;
    background: linear-gradient(90deg, #33D35E, rgba(0, 255, 242, 0.8));
    padding-top: $padding-top;
    padding-bottom: $padding-bottom;
    padding-left: calc(#{$padding-left} * 2);
    padding-right: calc(#{$padding-right} * 2);
    border-radius: 20px;
    border: none;
    color: white;
    margin-top: calc(#{$margin-top} * -6);
    margin-bottom: calc(#{$margin-bottom} * 1);
    margin-inline-start: 80%;
    
}

 
}

.easybank__footer__navigation2--listanchore {
  text-decoration: $text-decoration;
  color: white;
  
}

.easybank__footer__navigation2--list {
  margin: $margin;
}

// .easybank__container {
//   display: flex;
// }