.easybank__latest__container {
    padding: $padding;

}

 
.easybank__latest__container--confettiimg,
.easybank__latest__container--planeimg,
.easybank__latest__container--restaurantimg,
.easybank__latest__container--currencyimg {
   width: 100%;
   border-radius: 5px;

}


.easybank__latest__container--restaurantimg {
    padding-bottom: calc(#{$padding-bottom} / 2);
}


.easybank__latest__paragraph {
    color: rgb(177, 174, 174);
    font-family: Lato;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
}

.easybank__latest__subtitle {
    font-family: Lato;
    font-size: 16px;
    font-weight: 700;
    line-height: 22px;
}

.easybank__latest__name {
    font-family: Lato;
    color: rgb(170, 169, 169);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

.easybank__latest__title {
    margin-inline-start: $margin-inline-start ;
    font-family: roboto;
    font-size: 32px;
    font-weight: 400;
}

.easybank__latest__container2 {
    background-color: #ffffff;
    padding: $padding;
    padding-top: $padding-top;
    margin-top: calc(#{$margin} / -1);
}

@media (min-width: 800px) {
    .easybank__latest__bigcontainer {
    margin-inline-start: calc(#{$margin-inline-start} * 5) ;
    margin-inline-end: calc(#{$margin-inline-end} * 5) ;
}


.easybank__latest__conatainer {
       display: flex;
   }
}