.easybank__nexgeneration {
    background-image: url('../images/bg-intro-mobile.svg');
    background-repeat: no-repeat;
}

.easybank__button {
    display: none;
}

.easybank__nexgeneration__title {
    text-align: center;
    justify-content: center;
    color: #3e3e57;
    font-size: 32px;
}

.easybank__nexgeneration__button {
    background: linear-gradient(90deg, #33D35E, rgba(0, 255, 242, 0.8));
    padding-top: $padding-top;
    padding-bottom: $padding-bottom;
    padding-left: calc(#{$padding-left} * 2);
    padding-right: calc(#{$padding-right} * 2);
    border-radius: 20px;
    border: none;
    color: white

    
}

.easybank__nexgeneration__buttoncontainer {
    text-align: center;
    justify-content: center;

}

.easybank__nexgeneration__paragraph {
    color: gray;
    text-align: center;
    justify-content: center;

}

.easybank__nexgeneration__container1 {
    display: none;
}

@media (min-width: 400px)  {
    .easybank__nexgeneration {
    background-image: url('../images/bg-intro-desktop.svg');
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: 200px -150px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.easybank__nexgeneration__container1 {
    display: block;
}

.easybank__nexgeneration__container {
    display: none;
}

.easybank__nexgeneration__container2 {
    grid-column: 1;

}

.easybank__nexgeneration__title {
    width: 80%;
}

.easybank__nexgeneration__paragraph {
    width: 80%;
}

.easybank__nexgeneration__container1 {
    grid-column: 2;
}

.easybank__button {
    display: block;
}



}