
.easybank__whychoose {
    text-align: center;
    justify-content: center;
    background-color: rgb(230, 227, 227);
    padding: $padding;
}


 

@media (min-width: 800px)  {
   
    .easybank__whychoose__container {
        display: flex;
    }

    .easybank__whychoose {
        text-align: start;
        margin-top: calc(#{$margin-top} * -10);
    }

   .easybank__whychoose__article {
       margin-left: $margin-right;
   }


   .easybank__whychoose__mainContainer {
        margin-inline-start: calc(#{$margin-inline-start} * 5) ;
        margin-inline-end: calc(#{$margin-inline-end} * 5) ;
   }

   .easybank__whychoose__mainContainer--paragrath {
       margin-top: calc(#{$margin-top} * 4);
       margin-bottom: calc(#{$margin-bottom} * 3);
       width: 500px;
   }

   .easybank__whychoose__paragraph {
       color: gray;
   }
}
