
.easybank__whychoose {
    text-align: center;
    justify-content: center;
    background-color: rgb(230, 227, 227);
    padding: $padding;
}

@media (min-width: 800px)  {
   
    .easybank__whychoose__container {
        display: flex;
    }

    .easybank__whychoose {
        text-align: start;
    }

   .easybank__whychoose__article {
       margin-left: $margin-right;
   }

   .easybank__latest__conatainer {
       display: flex;
   }
}
