html {
  background-color: #f7f4f4; }

body {
  margin: 0; }

.easybank__nexgeneration__container--image {
  width: 100%; }

.easybank__navigation__list {
  list-style: none; }

.easybank__navigation__lists--anchore {
  text-decoration: none;
  margin: 1rem;
  color: black; }

.easybank {
  position: relative; }

.bar {
  width: 20px;
  position: absolute;
  right: 1rem;
  top: 1rem; }

.easybank-checkbox {
  position: absolute;
  top: 0;
  right: 0.35rem;
  zoom: 2;
  opacity: 0; }

.easybank__navigation {
  background-color: #ffff;
  color: white;
  box-shadow: 1px 5px 5px 10px #cecdcd;
  width: 200px;
  margin-inline-start: 1rem;
  padding: 1rem;
  position: fixed;
  left: -200px; }

input[type=checkbox]:checked + .easybank__navigation {
  transform: translateX(50%);
  transition: all 0.5s ease;
  left: -100px;
  z-index: 2;
  margin-inline-start: 1rem; }

input[type=checkbox]:not(:checked) + .easybank__navigation {
  transform: translateX(-110%);
  transition: all 0.5s ease-out;
  left: -100px; }

@media (min-width: 1000px) {
  .bar {
    display: none; }
  .easybank-checkbox {
    display: none; }
  .easybank__navigation {
    background-color: transparent;
    color: #333333;
    width: 200px;
    margin-inline-start: 1rem;
    padding: 1rem;
    display: flex;
    box-shadow: none;
    top: 0;
    margin-inline-start: 40%;
    position: relative; }
  input[type=checkbox]:checked + .edie__navigation {
    transform: translateX(50%);
    transition: none;
    left: 0;
    z-index: 2;
    margin-inline-start: 1rem; }
  .easybank__navigation__list {
    display: flex; }
  input[type=checkbox]:not(:checked) + .edie__navigation {
    transform: translateX(0%);
    transition: none;
    left: 0;
    margin-top: -75px; } }

.easybank__nexgeneration {
  background-image: url("../images/bg-intro-mobile.svg");
  background-repeat: no-repeat; }

.easybank__button {
  display: none; }

.easybank__nexgeneration__title {
  text-align: center;
  justify-content: center;
  color: #3e3e57;
  font-size: 32px; }

.easybank__nexgeneration__button {
  background: linear-gradient(90deg, #33D35E, rgba(0, 255, 242, 0.8));
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: calc(1rem * 2);
  padding-right: calc(1rem * 2);
  border-radius: 20px;
  border: none; }

.easybank__nexgeneration__buttoncontainer {
  text-align: center;
  justify-content: center; }

.easybank__nexgeneration__paragraph {
  color: gray;
  text-align: center;
  justify-content: center; }

.easybank__nexgeneration__container1 {
  display: none; }

@media (min-width: 400px) {
  .easybank__nexgeneration {
    background-image: url("../images/bg-intro-desktop.svg");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: 200px -150px;
    display: grid;
    grid-template-columns: repeat(2, 1fr); }
  .easybank__nexgeneration__container1 {
    display: block; }
  .easybank__nexgeneration__container {
    display: none; }
  .easybank__nexgeneration__container2 {
    grid-column: 1; }
  .easybank__nexgeneration__title {
    width: 80%; }
  .easybank__nexgeneration__paragraph {
    width: 80%; }
  .easybank__nexgeneration__container1 {
    grid-column: 2; }
  .easybank__button {
    display: block; } }

.easybank__whychoose {
  text-align: center;
  justify-content: center;
  background-color: #e6e3e3;
  padding: 1rem; }

@media (min-width: 800px) {
  .easybank__whychoose__container {
    display: flex; }
  .easybank__whychoose {
    text-align: start; }
  .easybank__whychoose__article {
    margin-left: 1rem; }
  .easybank__latest__conatainer {
    display: flex; } }

.easybank__latest__container {
  padding: 1rem;
  margin: 1rem; }

.easybank__latest__container--confettiimg,
.easybank__latest__container--planeimg,
.easybank__latest__container--restaurantimg,
.easybank__latest__container--currencyimg {
  width: 100%;
  border-radius: 5px; }

.easybank__latest__title {
  justify-content: center;
  text-align: center; }

.easybank__latest__container2 {
  background-color: #ffffff;
  padding: 1rem;
  padding-top: 1rem;
  margin-top: calc(1rem / -1); }

.easybank__footer {
  background-color: #080857;
  padding: 1rem;
  text-align: center;
  justify-content: center; }
  .easybank__footer__navigation1--lists {
    list-style: none; }
  .easybank__footer__navigation1--listanchore {
    text-indent: -9999px;
    display: inline-block; }
  .easybank__footer__navigation2--lists {
    list-style: none;
    color: white; }
  .easybank__footer__navigation1--lists {
    display: flex; }

.facebook {
  background-image: url("../images/icon-facebook.svg");
  background-repeat: no-repeat;
  padding: 1rem; }

.youtub {
  background-image: url("../images/icon-youtube.svg");
  background-repeat: no-repeat;
  padding: 1rem; }

.twitter {
  background-image: url("../images/icon-twitter.svg");
  background-repeat: no-repeat;
  padding: 1rem; }

.pinterest {
  background-image: url("../images/icon-pinterest.svg");
  background-repeat: no-repeat;
  padding: 1rem; }

.instagram {
  background-image: url("../images/icon-instagram.svg");
  background-repeat: no-repeat;
  padding: 1rem; }
