html {
  background-color: #e6e3e3; }

.easybank__nexgeneration__container--image {
  width: 100%; }

.easybank__navigation__list {
  list-style: none; }

.easybank__navigation__lists--anchore {
  text-decoration: none;
  margin: 1rem;
  color: black; }

.easybank {
  position: relative; }

.bar {
  width: 20px;
  position: absolute;
  right: 1rem;
  top: 1rem; }

.easybank-checkbox {
  position: absolute;
  top: 0;
  right: 0.35rem;
  zoom: 2;
  opacity: 0; }

.easybank__navigation {
  background-color: #ffff;
  color: white;
  box-shadow: 1px 5px 5px 10px #cecdcd;
  width: 200px;
  margin-inline-start: 1rem;
  padding: 1rem;
  position: fixed;
  left: -200px; }

input[type=checkbox]:checked + .easybank__navigation {
  transform: translateX(50%);
  transition: all 0.5s ease;
  left: -100px;
  z-index: 2;
  margin-inline-start: 1rem; }

input[type=checkbox]:not(:checked) + .easybank__navigation {
  transform: translateX(-110%);
  transition: all 0.5s ease-out;
  left: -100px; }

@media (min-width: 1000px) {
  .bar {
    display: none; }
  .easybank-checkbox {
    display: none; }
  .easybank__navigation {
    background-color: transparent;
    color: #333333;
    width: 200px;
    margin-inline-start: 1rem;
    padding: 1rem;
    display: flex;
    box-shadow: none;
    top: 0;
    margin-inline-start: 40%;
    position: relative; }
  input[type=checkbox]:checked + .edie__navigation {
    transform: translateX(50%);
    transition: none;
    left: 0;
    z-index: 2;
    margin-inline-start: 1rem; }
  .easybank__navigation__list {
    display: flex; }
  input[type=checkbox]:not(:checked) + .edie__navigation {
    transform: translateX(0%);
    transition: none;
    left: 0;
    margin-top: -75px; } }

.easybank__nexgeneration {
  background-image: url("../images/bg-intro-mobile.svg");
  background-repeat: no-repeat; }

.easybank__nexgeneration__title {
  width: 300px;
  text-align: center;
  justify-content: center;
  color: #3e3e57;
  font-size: 32px; }

.easybank__nexgeneration__button {
  background: linear-gradient(217deg, rgba(0, 229, 255, 0.8), rgba(255, 0, 0, 0) 70.71%), linear-gradient(127deg, rgba(0, 255, 242, 0.8), rgba(0, 255, 0, 0) 70.71%), linear-gradient(336deg, rgba(0, 0, 255, 0.8), rgba(0, 0, 255, 0) 70.71%); }

.easybank__nexgeneration__buttoncontainer {
  text-align: center;
  justify-content: center; }

.easybank__nexgeneration__paragraph {
  color: gray;
  text-align: center;
  justify-content: center; }

@media (min-width: 400px) {
  .easybank__nexgeneration {
    background-image: url("../images/bg-intro-desktop.svg");
    background-repeat: no-repeat; } }
